$button-color: #20E620;
$label-border-color: #1DCDCD;

#about{
	
}

#academics{
	.description{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.btn{
	width: 150px;
	border-radius: 3px;
	border-color: $button-color;
	background-color: $button-color;
	color: white;
	font-weight: bolder;
}

.label{
	background-color: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: $label-border-color;
	color: $label-border-color; 
	font-weight: normal;
}

.awards{
	color: $label-border-color;
}

.contact-icons{
	a{
		color: #FF2323;
		font-size: 20px;
	}
}

.panes{
	i{
		font-size: 20px;
		color: $label-border-color;
	}
}