$light-gray: #DDDDDD;
$dark-gray: #888888;
$title-color: #40B940;

h3, h4, h5, h6{
	font-weight: normal;
}

a{
	color: inherit;
	text-decoration: none !important;
}

.pager-header {
	color: $title-color;
	font-weight: normal;
}

.btn-link{
	color: black;
	border-radius: 10px;
	border-width: 2px;
	border-color: $title-color;
	border-style: solid;

	&:hover{
		background-color: $title-color;
		color: white;
	}
}

#about {
	img {
		width: 50%;
	}
}

#verticalMenu{
	> div {
		top: 0px;
		position: fixed;
		margin-top: 10px;
		margin-bottom: 10px;
		height: 100%;

		ul{
			li { 
				color: $dark-gray;
			}

			li.active {
				border-left: 3px solid $title-color;

				a{
					color: $title-color;
					background: none !important;
				}
			}
		}
	}

	.well{
		margin-top: 20px;
		background: none !important;
		border: 2px solid $title-color;

		a{
			font-size: 20px;
			color: $title-color;
		}
	}

	img{
		width: 70%;
	}
}

footer{
	background-color: $light-gray
}